.support-container {
  width: 100%;
  padding: 1rem 0;
}

.features__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main_features {
  width: 80%;
  display: grid;
  gap: 20px;
  height: auto;
}

.first__col,
.second__col {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-bottom: 1rem;
  padding: 2rem;
  box-sizing: border-box;
  text-align: center;
}

.righty {
  color: #333;
}

.righty h2 {
  padding-bottom: 0.5em;
  line-height: 2rem;
  font-weight: bolder;
}

.righty p {
  font-size: 1.2rem;
  line-height: 2rem;
}

.category-list-svg-icon {
  max-width: 100px;
  height: auto;
}

@media (min-width: 601px) {
  .main_features {
    grid-template-columns: repeat(2, 1fr);
  }
}
