#screenshots {
  width: 100%;
}

.section-carousel__image img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .section-carousel__image img {
    width: 100%;
    height: auto;
    margin: 20px 0;
  }
}